:host {
    header {
        z-index: 9999;
        position: sticky;
        top: 0;
        .pixelstrap{
            @media(min-width: 1200px){
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .pixelstrap li:hover  ul {

            display: block;
            top: auto;
            left: 0px;
            margin-left: 0px;
            margin-top: 0px;
            z-index: 2;
            min-width: 10em;
            max-width: 20em;
            -webkit-animation-name: fadeIn;
            -webkit-animation-duration: 0.3s;
            animation-name: fadeIn;
            animation-duration: 0.3s;
            li:hover {
                ul {
                    display: block;
                    top: auto;
                    left: 0px;
                    margin-left: 223px;
                    margin-top: -41px;
                    z-index: 3;
                    min-width: 10em;
                    max-width: 20em;
                }
            }
            li {
                .sub-arrow {
                    position: absolute;
                    top: 50%;
                    margin-top: -17px;
                    left: auto;
                    right: 15px;
                    width: 34px;
                    height: 34px;
                    overflow: hidden;
                    font: bold 16px/34px monospace !important;
                    text-align: center;
                    text-shadow: none;
                    border-radius: 4px;
                    &::before {
                        content: "\f105";
                        font-family: FontAwesome;
                        position: absolute;
                    }
                }

                .menu-content-links{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 15px;
                }
            }
        }

        /*  .icon-nav{
            width: 20px;
            height: 20px;
            object-fit: contain;
        }
 */

    }
    .formSearch{
        max-width: 60%;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 1px #eff0f1;
        background-color: #f8f8f9;
        height: 47px;
        border-radius: 25px;
        svg{ 
            font-size: 18px;
            FONT-WEIGHT: 200;
            color: #8e8e8e;
            position: relative;
            margin: auto 25px;
          
        }
        .separator{
            background: #d3d3d3;
            height: 25px;
            width: 1px;
        }
         .inputSearch {
             height: 100%;
             border: none;
             box-shadow: nones;
             background-color: transparent;
             @media (max-width: 992px) {
                 max-width: 45%;
             }
             @media (max-width: 580px) {
                 display: none;
             }
         }
     }

     .pixelstrap.carouselEvent{
        display: initial !important;
        position: relative;
        .menu-content-links{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 15px;
        }
        .menuposition{
            display: block;
            position: absolute;
            z-index: 9999;
            top: 35px;
            a{ 
                padding: 0 !important;
            }
        }
     }

    .alignNav {
        @media (min-width: 1200px) {
            margin-top: -20px;
            display: flex;
            justify-content: center;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        40% {
            opacity: 0.3;
        }
        60% {
            opacity: 0.5;
        }
        80% {
            opacity: 0.9;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0;
        }
        40% {
            opacity: 0.3;
        }
        60% {
            opacity: 0.5;
        }
        80% {
            opacity: 0.9;
        }
        100% {
            opacity: 1;
        }
    }

    .isOpen { 
        right: 0;
        .menu-content-links{ 
            display: flex !important;
            flex-direction: column;
            a{ 
                text-transform: capitalize;
            }
        }
    }

    .sticky-buttons{ 
        position: sticky !important;
        bottom: -15px;
        background: #fff;
        padding: 10px 0 10px !important;
    }

    .noneListCar{
        padding: 25px 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

}

