<!-- header start -->
<header>
    <div class="mobile-fix-option"></div>
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>Welcome to Our store Mami decor</li>
                            <li><i class="fa fa-phone" aria-hidden="true"></i>Call Us: 123 - 456 - 7890</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-end">
                    <ul class="header-dropdown">
                        <li class="mobile-wishlist">
                            <a href="#">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="onhover-dropdown mobile-account" routerLink="profile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            My Account
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="brand-logo">
                            <a routerLink="">
                                <img src="../assets/images/icon/logo.svg" class="img-fluid lazyload" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="formSearch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-search" _ngcontent-gbr-c136="">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <div class="separator"></div>
                        <input type="search" class="form-control inputSearch" />
                    </div>
                    <div class="menu-right pull-right" (click)="isOpen = !isOpen">

                        <div>
                            <div class="icon-nav">
                                <ul class="d-flex">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <li class="onhover-div mobile-setting">
                                        <div><img src="../assets/images/icon/setting.png" class="img-fluid lazyload"
                                                alt=""> <i class="ti-settings"></i>
                                        </div>
                                        <div class="show-div setting">
                                            <h6>language</h6>
                                            <ul>
                                                <li><a href="#">english</a></li>
                                                <li><a href="#">french</a></li>
                                            </ul>
                                            <h6>currency</h6>
                                            <ul class="list-inline">
                                                <li><a href="#">euro</a></li>
                                                <li><a href="#">rupees</a></li>
                                                <li><a href="#">pound</a></li>
                                                <li><a href="#">doller</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="onhover-div mobile-cart">
                                        <div><img src="../assets/images/icon/cart.png" class="img-fluid lazyload"
                                                alt=""> <i class="ti-shopping-cart"></i></div>
                                        <span class="cart_qty_cls">2</span>
                                        <ul class="show-div shopping-cart">
                                            <li>
                                                <div class="media">
                                                    <a href="#"><img alt="" class="me-3"
                                                            src="../assets/images/fashion/product/1.jpg"></a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>item name</h4>
                                                        </a>
                                                        <h4><span>1 x $ 299.00</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i class="fa fa-times"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            <li>
                                                <div class="media">
                                                    <a href="#"><img alt="" class="me-3"
                                                            src="../assets/images/fashion/product/2.jpg"></a>
                                                    <div class="media-body">
                                                        <a href="#">
                                                            <h4>item name</h4>
                                                        </a>
                                                        <h4><span>1 x $ 299.00</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="#"><i class="fa fa-times"
                                                            aria-hidden="true"></i></a></div>
                                            </li>
                                            <li>
                                                <div class="total">
                                                    <h5>subtotal : <span>$299.00</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons">
                                                    <a routerLink="/cart" class="view-cart">view
                                                        cart</a> <a href="#" class="checkout">checkout</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pixelstrap carouselEvent" style="display: initial !important; ">
                    <owl-carousel-o class="d-none d-xl-block owl-navbar  mb-3" [options]="customOptions"
                        *ngIf="categories?.length > 0">
                        <ng-template carouselSlide *ngFor="let category of categories">
                            <li class="" [ngClass]="{'mega' : category.subcategories?.length > 4 }"
                                (mouseenter)="createDropdown($event, category)">
                                <a [routerLink]="['products-list', category._id]" [routerLinkActive]="['active']"
                                    class="has-submenu highlighted">
                                    {{category.categoria}}
                                    <span class="sub-arrow" *ngIf="category.subcategories?.length > 0"></span>
                                </a>
                            </li>
                        </ng-template>
                    </owl-carousel-o>
                    <ul *ngIf="dropItem?.item?.subcategories.length > 0 && dropItem?.item?.subcategories"
                        class="mega-menu full-mega-menu sm-nowrap menuposition" (mouseleave)="closeDropdown()"
                        [@inOutAnimation]>
                        <div class="container">
                            <div class="link-section">
                                <div class="menu-content menu-content-links">
                                    <a [routerLink]="['products-list', sub._id]" [routerLinkActive]="['active']"
                                        *ngFor="let sub of dropItem?.item?.subcategories">{{sub.subCategoria}}</a>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <!-- <ul class="sm-nowrap"
                        style="position: absolute"
                        *ngIf="dropItem?.item?.subcategories?.length < 4 && dropItem?.item?.subcategories?.length > 0">
                        <li *ngFor="let sub of dropItem?.item?.subcategories">
                            <a [routerLink]="['products-list', sub._id]"
                                [routerLinkActive]="['active']">{{sub.subCategoria}}</a>
                        </li>
                    </ul> -->
                </div>
                <div class="alignNav w-100 d-flex d-xl-none justify-content-center">
                    <nav id="main-nav" class="w-100 d-flex justify-content-center w-100">
                        <ul id="main-menu" class="sm pixelstrap sm-horizontal" [ngClass]="{'isOpen': isOpen}">
                            <li>
                                <div class="mobile-back text-end" (click)="isOpen = false">
                                    Back
                                    <i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
                                </div>
                            </li>

                            <li class="" [ngClass]="{'mega' : category.subcategories?.length > 4 }"
                                *ngFor="let category of categories">
                                <a [routerLink]="['products-list', category._id]" [routerLinkActive]="['active']"
                                    class="has-submenu highlighted">{{category.categoria}}<span class="sub-arrow"
                                        *ngIf="category.subcategories?.length > 0"></span></a>
                                <ul class="mega-menu full-mega-menu sm-nowrap"
                                    *ngIf="category.subcategories?.length > 4">
                                    <li>
                                        <div class="container">
                                            <div class="link-section">
                                                <div class="menu-content menu-content-links">
                                                    <a [routerLink]="['products-list', sub._id]"
                                                        [routerLinkActive]="['active']"
                                                        *ngFor="let sub of category.subcategories">{{sub.subCategoria}}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="sm-nowrap"
                                    *ngIf="category.subcategories?.length < 4 && category.subcategories?.length > 0">
                                    <li *ngFor="let sub of category.subcategories">
                                        <a [routerLink]="['products-list', sub._id]"
                                            [routerLinkActive]="['active']">{{sub.subCategoria}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->