<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>Installations guide</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Installations guide</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->

<!-- guide page start -->
<section class="section-b-space guide">
    <div class="container">
        <div class="guide__section">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="guide__title">WALLPAPER INSTALLATION GUIDE</h5>
                </div>
                <div class="col-12 col-md-6">
                    <div class="guide__bg-black">
                        <h5>WALLPAPER INSPECTION AND PREPARATION</h5>
                    </div>
                    <h5 class="guide__subtitle">
                        INSPECTION
                    </h5>
                    <p class="guide__paraphs">
                        Inspect every roll to ensure that all rolls are in good condition, with no variation in shade,
                        and that no other faults are present.
                    </p>
                    <p class="guide__paraphs">
                        We cannot accept liability for defects that are apparent at the time of hanging, nor can we be
                        responsible for any consequential loss. After hanging two or three lengths/panels, we strongly
                        recommend that you inspect the results.
                    </p>

                    <h5 class="guide__subtitle">
                        PREPARATION
                    </h5>
                    <p class="guide__paraphs">
                        Preparing a wall for wallpaper is like laying good foundations for a beautiful home. It needs to
                        be done methodically and thoroughly. Find your inner perfectionist and follow these steps:
                        <br>
                        The wall should be made as clean as possible, so remove all traces of dirt, old wallpaper and
                        flaking paint. Using a suitable filler even out cracks and irregularities to achieve a smooth
                        finish.
                    </p>
                    <p class="guide__paraphs">
                        Sand and prime the filled areas. Priming seals the filler, which prevents the paste from drying
                        at a different rate. Filler not primed can cause the paper to bubble as it draws all the
                        moisture from the paste. Once you’ve smoothed, filled and sanded your wall, make sure all
                        surfaces are clean and dry.
                    </p>
                    <p class="guide__paraphs">
                        To achieve perfect edges, before you hang your wallpaper, you may need to paint the wall in a
                        similar colour to the wallpaper you are applying to ensure that the background
                        does not show through the seams where the edges of the wallpaper meet.
                    </p>

                </div>
                <div class="col-12 col-md-6">
                    <div class="guide__bg-black">
                        <h5>WALLPAPER SUITABILITY</h5>
                    </div>

                    <p class="guide__paraphs">
                        Porter’s wallpapers are “paste the wall” wallcoverings and use a special backing containing “non
                        woven” or polyester fibres. This means that the wallcovering is dimensionally stable and does
                        not expand when wet, allowing the paper to be hung dry from the roll, reducing the installation
                        time by around half.
                    </p>

                    <p class="guide__paraphs">
                        No paste table is needed, there is no soaking time and it is easier to cut around light switches
                        and sockets because the paper is dry.
                    </p>

                    <p class="guide__paraphs">
                        Paste
                        the wall’s dimensional stability also means there is less risk of bubbling, creasing or edge
                        curl. Overall it is a much easier product for the newcomer to paperhanging. The best
                        paste to use is a good quality, easy to use, ready mixed tub adhesive. A quality lamb’s wool or
                        microfibre paint roller is good for applying the paste to the wall.
                    </p>
                    <h5 class="guide__subtitle">
                        SUITABILITY
                    </h5>
                    <p class="guide__paraphs">
                        To get the best performance out of your wallpaper, please take the following points into
                        consideration:
                    </p>
                    <p class="guide__paraphs">
                        While our papers can be hung in bathrooms and kitchens, they are not suitable for high humidity
                        or
                        wet areas. If planning to paper a humid room, please ensure the room is well ventilated and the
                        paper is installed using a mould and mildew inhibiting paste. Avoid any direct contact with
                        water.
                    </p>
                    <p class="guide__paraphs">
                        Local conditions will differ from room to room, depending upon size, extraction and general
                        humidity, all of which give varying levels of condensation. As such we cannot guarantee
                        suitability
                        across all situations.
                    </p>
                </div>
            </div>
        </div>
        <div class="guide__section">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="guide__bg-black">
                        <h5>HANGING THE PAPER - Steps</h5>
                    </div>
                    <h5 class="guide__subtitle">
                        STEP 1 Planning
                    </h5>
                    <p class="guide__paraphs">
                        When installing wallpaper, a good tip is to always work away from the main source of light and
                        finish in the least conspicuous corner.<br>
                        Firstly, cut the header off your roll. You can use this piece as a template to measure the width
                        required for your drops.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step1.png" alt="">
                    <h5 class="guide__subtitle">
                        STEP 2 Measuring
                    </h5>
                    <p class="guide__paraphs">
                        Using the header from the roll, measure this amount out from the corner (in the direction you
                        are going) minus 2cm.<br>
                        Put a mark close to the ceiling at this point. This is where you start your spirit level or
                        plumb line from and will allow a 2cm overlap around the corner.<br>
                        Mark down the plumb line every 20 30cm, and this will give you a good vertical line to hang your
                        first length to. Use pencil only.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step2.png" alt="">
                    <h5 class="guide__subtitle">
                        STEP 3 Paste the wall
                    </h5>
                    <p class="guide__paraphs">
                        Our wallpapers are made using a non woven base, which means that you apply the adhesive directly
                        to the wall. Start by pasting an area enough to cover just over one drop width at a time. For
                        best results apply a good, evenly spread coating of paste on the wall
                        Use a paint brush to cut in around areas too tight for the roller, such as at the ceiling line,
                        in corners and along skirting boards and trim.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step3.png" alt="">
                    <h5 class="guide__subtitle">
                        Step 4 Hanging the first drop
                    </h5>
                    <p class="guide__paraphs">
                        Align the top of the roll to the wall in the correct position, while also aligning with the
                        marks that were made down the vertical plumb line.<br>
                        Carefully smooth your hand over the paper so that it sticks to the wall, and gently unroll the
                        paper as you climb down the ladder, until the wallpaper roll is sitting on the floor. Cut the
                        wallpaper from the roll, below where the wall meets the
                        skirting.<br>
                        If you make a mistake, remove the length and start again. Apply more adhesive if the first coat
                        has dried.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step4.png" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="guide__subtitle">
                        Step 5 Smoothing
                    </h5>
                    <p class="guide__paraphs">
                        Align the top of the roll to the wall in the correct position, while also aligning with the
                        marks that were made down the vertical plumb line.<br>
                        Carefully smooth your hand over the paper so that it sticks to the wall, and gently unroll the
                        paper as you climb down the ladder, until the wallpaper roll is sitting on the floor. Cut the
                        wallpaper from the roll, below where the wall meets the
                        skirting.<br>
                        If you make a mistake, remove the length and start again. Apply more adhesive if the first coat
                        has dried.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step5.png" alt="">
                    <h5 class="guide__subtitle">
                        Step 6 Hanging the second drop
                    </h5>
                    <p class="guide__paraphs">
                        Paste the wall, ensuring the adhesive is applied right to the edges and a little further than
                        the width of the wallpaper. It is important that adhesive be applied right out to the edges
                        to ensure the lengths adhere to the wall properly.<br>
                        Butt join the wallpaper together, matching up the pattern at the edges. Ensure that the paper is
                        properly positioned, that the pattern is matching and there is no surface visible
                        at the joints.<br>
                        Follow the same process as Step 4, smoothing and gently unrolling the paper as you step down
                        from the ladder. Cut the wallpaper from the roll, below where the wall meets the
                        skirting Installation Tip for hanging the Amara design: Line up the dots, not the “leaf”.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step6.png" alt="">
                    <h5 class="guide__subtitle">
                        Step 7 Trimming
                    </h5>
                    <p class="guide__paraphs">
                        When you are happy with the position, using a straight edge, trim the excess wallpaper at the
                        top and bottom of the wall. Use a sharp snap snap-off blade knife. Push the paper
                        into the ceiling line and skirting.<br>
                        Replace the blade often, as a dull blade can easily tear the wallpaper.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step7.png" alt="">
                    <h5 class="guide__subtitle">
                        Step 8 Continue
                    </h5>
                    <p class="guide__paraphs">
                        Continue in this manner until the wall is finished. Our papers have a traditional matt finish,
                        so you can wipe off any shiny marks from the paste with a damp, soft cloth.<br>
                        Use a soft clean dry cloth to remove any residual wáter from the damp cloth to prevent marking.
                    </p>
                    <img class="guide__img" src="./assets/images/guide/guide_step8.png" alt="">
                </div>
            </div>
        </div>
        <div class="guide__section">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="guide__bg-black">
                        <h5>WALLPAPER CLEANING AND CARE</h5>
                    </div>
                    <h5 class="guide__subtitle">
                        CLEANING AND CARE
                    </h5>
                    <p class="guide__paraphs guide__paraphs--max-width">
                        Our wallpapers are washable using a mild soap that does not
                        contain detergent. Wipe with a cloth dampened with clear
                        clean water and dry with a soft, clean cloth. Stains caused by
                        grease and oil may not necessarily be removed. Do not use
                        abrasives. Do not rub. 
                        The information given here or any other technical advice,
                        whether verbal or in writing is for guidance only and is given in
                        good faith but without warranty, since the skill of application
                        and site conditions are beyond our control.
                    </p>
                   
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="guide__subtitle">
                        Installation tools
                    </h5>
                    <div class="guide__icons">
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/scissors.png" alt="">
                            <p>
                                Scissors
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/pencil.png" alt="">
                            <p>
                                Pencil
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/roller.png" alt="">
                            <p>
                                Roller
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/paint.png" alt="">
                            <p>
                                Paint brush
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/tray.png" alt="">
                            <p>
                               Tray
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/bowl.png" alt="">
                            <p>
                                A bowl<br> 
                                of water
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/sponge.png" alt="">
                            <p>
                                Sponge
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/spatula.png" alt="">
                            <p>
                                Spatula
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/scraper.png" alt="">
                            <p>
                                Scraper 
                            </p>
                        </div>
                        <div class="guide__boxIcon">
                            <img src="./assets/images/guide/sharp.png" alt="">
                            <p>
                                A Sharp knife
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>