<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>living room</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">living room</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section class="living-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let product of products" [@inOutAnimation]>
                <app-card-living [product]="product"></app-card-living>
            </div>
            <div class="col-12">
                <app-loading *ngIf="loading"></app-loading>
                <app-not-found *ngIf="products?.length == 0"></app-not-found>
            </div>
        </div>
        <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollUpDistance]="1.5"
        [infiniteScrollThrottle]="50"
        (scrolled)="onScrollDown()"
    ></div>
    </div>

</section>
<!-- Section ends -->